In [1]:
import pandas as pd

stores = pd.read_csv(r'C:\Users\koksh\Desktop\pyton\code\web\272\2\stores.csv')
stores.describe()

           Store           Size
count  45.000000      45.000000
mean   23.000000  130287.600000
std    13.133926   63825.271991
min     1.000000   34875.000000
25%    12.000000   70713.000000
50%    23.000000  126512.000000
75%    34.000000  202307.000000
max    45.000000  219622.000000

In [2]:
stores.iloc[0:7, 0:3]

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875
5      6    A  202505
6      7    B   70713

In [3]:
result = stores[stores['Store'] % 2 == 0]

print(result)

    Store Type    Size
1       2    A  202307
3       4    A  205863
5       6    A  202505
7       8    A  155078
9      10    B  126512
11     12    B  112238
13     14    A  200898
15     16    B   57197
17     18    B  120653
19     20    A  203742
21     22    B  119557
23     24    A  203819
25     26    A  152513
27     28    A  206302
29     30    C   42988
31     32    A  203007
33     34    A  158114
35     36    A   39910
37     38    C   39690
39     40    A  155083
41     42    C   39690
43     44    C   39910

In [4]:
result.describe()

           Store           Size
count  22.000000      22.000000
mean   23.000000  135798.909091
std    12.987173   65850.222307
min     2.000000   39690.000000
25%    12.500000   70957.250000
50%    23.000000  153795.500000
75%    33.500000  202455.500000
max    44.000000  206302.000000

In [12]:
# stores.head(5).iloc[:,[0,1,2]]
# type(stores)

pandas.core.frame.DataFrame

In [20]:
type(stores.head(5).iloc[:, 0])

pandas.core.series.Series

In [21]:
cnt_a = 0
cnt_b = 0
cnt_c = 0

for el in stores['Type']:
    if el == 'A':
        cnt_a += 1
    if el == 'B':
        cnt_b += 1
    if el == 'C':
        cnt_c += 1

max_cnt = max(cnt_c, cnt_a, cnt_b)
max_cnt

22

In [22]:
stores.describe()

           Store           Size
count  45.000000      45.000000
mean   23.000000  130287.600000
std    13.133926   63825.271991
min     1.000000   34875.000000
25%    12.000000   70713.000000
50%    23.000000  126512.000000
75%    34.000000  202307.000000
max    45.000000  219622.000000

In [24]:
stores.Type == 'A'

0      True
1      True
2     False
3      True
4     False
5      True
6     False
7      True
8     False
9     False
10     True
11    False
12     True
13     True
14    False
15    False
16    False
17    False
18     True
19     True
20    False
21    False
22    False
23     True
24    False
25     True
26     True
27     True
28    False
29    False
30     True
31     True
32     True
33     True
34    False
35     True
36    False
37    False
38     True
39     True
40     True
41    False
42    False
43    False
44    False
Name: Type, dtype: bool

In [26]:
print(stores.loc[stores['Type'] == 'A'].count())
print(stores.loc[stores['Type'] == 'B'].count())
print(stores.loc[stores['Type'] == 'C'].count())

Store    22
Type     22
Size     22
dtype: int64
Store    17
Type     17
Size     17
dtype: int64
Store    6
Type     6
Size     6
dtype: int64

In [29]:
print(stores.loc[:,['Size']].loc[stores.Type=='A'].mean())
print(stores.loc[:,['Size']].loc[stores.Type=='B'].mean())
print(stores.loc[:,['Size']].loc[stores.Type=='C'].mean())

Size    177247.727273
dtype: float64
Size    101190.705882
dtype: float64
Size    40541.666667
dtype: float64

In [30]:
stores.loc[:,['Size']].mean()

Size    130287.6
dtype: float64

In [31]:
stores.describe()

           Store           Size
count  45.000000      45.000000
mean   23.000000  130287.600000
std    13.133926   63825.271991
min     1.000000   34875.000000
25%    12.000000   70713.000000
50%    23.000000  126512.000000
75%    34.000000  202307.000000
max    45.000000  219622.000000

In [32]:
stores.loc[stores['Size'] > stores.Size.mean() and stores['Type'] == 'A']

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [37]:
s = stores.Size.describe()
s['50%']

126512.0

In [38]:
kv_1 = stores.Size.describe()['25%']
kv_3 = stores.Size.describe()['75%']

stores.Size.loc[(stores['Size'] > kv_1) & (stores['Size'] < kv_3)]

0     151315
7     155078
8     125833
9     126512
11    112238
13    200898
14    123737
16     93188
17    120653
20    140167
21    119557
22    114533
24    128107
25    152513
28     93638
33    158114
34    103681
38    184109
39    155083
40    196321
44    118221
Name: Size, dtype: int64

In [39]:
print(stores.loc[stores['Type'] == 'A'].count())
print(stores.loc[stores['Type'] == 'B'].count())
print(stores.loc[stores['Type'] == 'C'].count())

Store    22
Type     22
Size     22
dtype: int64
Store    17
Type     17
Size     17
dtype: int64
Store    6
Type     6
Size     6
dtype: int64

In [40]:
stores.Size.loc[stores['Type'] != 'B'].mean()

147953.57142857142

In [41]:
stores.query('Size > 200000')

    Store Type    Size
1       2    A  202307
3       4    A  205863
5       6    A  202505
10     11    A  207499
12     13    A  219622
13     14    A  200898
18     19    A  203819
19     20    A  203742
23     24    A  203819
26     27    A  204184
27     28    A  206302
30     31    A  203750
31     32    A  203007

In [43]:
a = 205000
stores.query('Size > @a')

    Store Type    Size
3       4    A  205863
10     11    A  207499
12     13    A  219622
27     28    A  206302