In [59]:
import pandas as pd
train = pd.read_csv(
    r'C:\Users\koksh\Desktop\pyton\code\web\58-11\3\train.csv')

1 задание.

In [60]:
train.groupby('IsHoliday').mean()

C:\Users\koksh\AppData\Local\Temp\ipykernel_20552\2467173963.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  train.groupby('IsHoliday').mean()

              stores       Dept  Weekly_Sales
IsHoliday
False      22.202473  44.252633  15901.445069
True       22.175078  44.361856  17035.823187

In [61]:
train.groupby('IsHoliday').Weekly_Sales.mean()

IsHoliday
False    15901.445069
True     17035.823187
Name: Weekly_Sales, dtype: float64

In [62]:
train.groupby('IsHoliday').mean()

C:\Users\koksh\AppData\Local\Temp\ipykernel_20552\2467173963.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  train.groupby('IsHoliday').mean()

              stores       Dept  Weekly_Sales
IsHoliday
False      22.202473  44.252633  15901.445069
True       22.175078  44.361856  17035.823187

2 задание.

In [63]:
len(train.groupby('Dept'))

81

In [64]:
len(train.Dept.unique())

81

3 задание.

In [65]:
len(train.Date.unique())

143

In [66]:
len(train.groupby('Date'))

143

Тема: Агрегация

In [67]:
train.groupby('IsHoliday').aggregate({'Weekly_Sales':'mean'})

           Weekly_Sales
IsHoliday
False      15901.445069
True       17035.823187

задание на агрегирование 1.

In [68]:
train.groupby('Date').aggregate({'Weekly_Sales':'sum'})

            Weekly_Sales
Date
2010-02-05   49750740.50
2010-02-12   48336677.63
2010-02-19   48276993.78
2010-02-26   43968571.13
2010-03-05   46871470.30
...                  ...
2012-09-28   43734899.40
2012-10-05   47566639.31
2012-10-12   46128514.25
2012-10-19   45122410.57
2012-10-26   45544116.29

[143 rows x 1 columns]

задание на агрегирование 2.

In [69]:
train.groupby('stores').aggregate({'Weekly_Sales':'mean'})

        Weekly_Sales
stores
1       21710.543621
2       26898.070031
3        6373.033983
4       29161.210415
5        5053.415813
6       21913.243624
7        8358.766148
8       13133.014768
9        8772.890379
10      26332.303819
11      19276.762751
12      14867.308619
13      27355.136891
14      28784.851727
15       9002.493073
16       7863.224124
17      12954.393636
18      15733.313136
19      20362.126734
20      29508.301592
21      11283.435496
22      15181.218886
23      19776.180881
24      18969.106500
25      10308.157810
26      14554.129672
27      24826.984536
28      18714.889803
29       8158.810609
30       8764.237719
31      19681.907464
32      16351.621855
33       5728.414053
34      13522.081671
35      13803.596986
36       8584.412563
37      10297.355026
38       7492.478460
39      21000.763562
40      13763.632803
41      17976.004648
42      11443.370118
43      13415.114118
44       6038.929814
45      11662.897315

# это заголовок