In [21]:
import pandas as pd
stores = pd.read_csv(
    r'C:\Users\koksh\Desktop\pyton\code\web\58-11\3\stores.csv')

In [22]:
stores.describe()

           Store           Size
count  45.000000      45.000000
mean   23.000000  130287.600000
std    13.133926   63825.271991
min     1.000000   34875.000000
25%    12.000000   70713.000000
50%    23.000000  126512.000000
75%    34.000000  202307.000000
max    45.000000  219622.000000

In [23]:
stores.head()

   Store Type    Size
0      1    A  151315
1      2    A  202307
2      3    B   37392
3      4    A  205863
4      5    B   34875

In [24]:
stores.dtypes

Store     int64
Type     object
Size      int64
dtype: object

.shape позволяет узнать размерность датасета. Высота X ширина

In [25]:
stores.shape

(45, 3)

In [26]:
stores.size

135